*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Pixelify Sans', sans-serif;
}

span{
    font-weight: 700;
}

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');
body {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.head{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(253,67,129); 
    padding: 100px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    z-index: 1000;
}

header.scrolled-down {
    background: rgb(253, 67, 129);
    transition: all 0.3s ease;
    padding: 10px 100px; 
}

header .logo{
    width: 100px;
    padding: 0px 10px;
}

header .navbar{
    position: relative;
    display: flex;
}

header .navbar li{
    list-style: none;
    margin-left: 30px;
}

header .navbar li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    transition: 0.3s;
    padding: 10px;
    text-transform: uppercase;
}

header .navbar li a:hover{
    color: rgb(92,37,161);
}

.contenido{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}


.contenido .tituloBox{
    position: relative;
    max-width: 600px;
}

.contenido .tituloBox h2{
    font-size: 4.5em;
    text-transform: uppercase;
    color: rgb(92,37,161);
    line-height: 1.2;
}

.contenido .tituloBox h2 span{
    background-color: rgb(92,37,161);
    color: #ffffff;
    padding: 0px 10px;
    font-weight: 600;
}

.contenido .tituloBox p{
    font-size: 1.8em;
    line-height: 1.5;
    color: rgb(92,37,161);
    font-weight: 600;
    margin-bottom: 20px;
}

.contenido .tituloBox a{
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    background: rgb(92,37,161);
    border-radius: 15px;
    padding: 10px 80px;
    width: 100%;
    letter-spacing: 2px;
    transition: 0.3s;
}

.contenido .imgBox{
    width: 600px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.contenido .imgBox img{
    width: 500px;
}



.circulo{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(92,37,161);
    clip-path: circle(650px at right 750px);
    width: 100%;
    height: 100%;
}

.redes{
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px 30px;
    list-style: none;
}

.redes li{
    padding: 10px;
}

.redes li a{
    color: #ffffff;
    font-size: 1.5em;
    transition: 0.3s;
}

section{
    height: 100%;
    width: 100%;
    background-color:#ffffff;
}

.subcontent{
    padding: 50px 100px 0px;
}

.subcontent h1{
    text-align: center;
    margin-bottom: 20px;
}

.subcontent p{
    line-height: 1.5;
    text-align: justify;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.persona{
    background-color: #ffffff;
    margin: 0px;
    border-radius: 15px;
    width: 320px;
}

.persona .subtitulo{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #000000;
}

.persona .subtext{
    width: 100%;
    height: auto;
    padding: 10px;
}

.persona .contsprite{
    display: flex;
    justify-content: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background: linear-gradient(180deg, #5c25a1 0%, #fd4381 50%, #ffffff 100%);
}

.sprite1{
    height: 320px;
    width: 320px;
    animation-name: sprite1; 
    animation-duration: 1.5s;
    background: url("img/gaddis.png") center center/cover;
    animation-timing-function: steps(8);
    animation-iteration-count: infinite;
    position: relative;
}

.sprite2{
    height: 320px;
    width: 320px;
    animation-name: sprite2; 
    animation-duration: 1.5s;
    background: url("img/mascara.png") center center/cover;
    animation-timing-function: steps(6);
    animation-iteration-count: infinite;
    position: relative;
}

.sprite3{
    height: 320px;
    width: 320px;
    animation-name: sprite3; 
    animation-duration: 1.5s;
    background: url("img/leviatan.png") center center/cover;
    animation-timing-function: steps(14);
    animation-iteration-count: infinite;
    position: relative;
}

.sprite4{
    height: 320px;
    width: 320px;
    animation-name: sprite4; 
    animation-duration: 1.5s;
    background: url("img/chimera.png") center center/cover;
    animation-timing-function: steps(14);
    animation-iteration-count: infinite;
    position: relative;
}

.sprite5{
    height: 320px;
    width: 320px;
    animation-name: sprite5; 
    animation-duration: 1.5s;
    background: url("img/agua.png") center center/cover;
    animation-timing-function: steps(8);
    animation-iteration-count: infinite;
    position: relative;
}

.sprite6{
    height: 320px;
    width: 320px;
    animation-name: sprite6; 
    animation-duration: 1.5s;
    background: url("img/lodo.png") center center/cover;
    animation-timing-function: steps(7);
    animation-iteration-count: infinite;
    position: relative;
}

.sprite7{
    height: 320px;
    width: 320px;
    animation-name: sprite7; 
    animation-duration: 1.5s;
    background: url("img/espectro.png") center center/cover;
    animation-timing-function: steps(8);
    animation-iteration-count: infinite;
    position: relative;
}

@keyframes sprite1{
    from { background-position: 0px; }
    to { background-position: -2560px; }
}

@keyframes sprite2{
    from { background-position: 0px; }
    to { background-position: -1920px; }
}

@keyframes sprite3{
    from { background-position: 0px; }
    to { background-position: -4480px; }
}

@keyframes sprite4{
    from { background-position: 0px; }
    to { background-position: -4480px; }
}

@keyframes sprite5{
    from { background-position: 0px; }
    to { background-position: -2560px; }
}

@keyframes sprite6{
    from { background-position: 0px; }
    to { background-position: -2240px; }
}

@keyframes sprite7{
    from { background-position: 0px; }
    to { background-position: -2560px; }
}



.con-contact{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.con-contact .mapa{
    width: 48%;
}

.con-contact .mapa iframe{
    width: 100%;
    height: 100%;
}

.con-contact .form{
    width: 48%;
}

.con-contact .form form{
    width: 100%;
}

.con-contact .form form textarea,
.con-contact .form form input{
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
}

.con-contact .form form textarea{
    height: 200px;
    margin: 10px 0px 0px;
}

.con-contact .form form .enviar{
    color: #ffffff;
    background: rgb(92,37,161);
    border-radius: 15px;
    padding: 10px 80px;
    width: 100%;
    letter-spacing: 2px;
    transition: 0.3s;
    border-style: none;
    cursor: pointer;
}

.con-about{
    display: flex;
    justify-content: space-between;
}

.con-about .con-red{
    display: flex;
    width: 100%;
}

.con-about .con-red ion-icon{
    font-size: 30px;
    margin: 5px;
    border-radius: 50%;
}

.imgsprite{
    width: 100%;
    display: flex;
    justify-content: center;
}

.imgsprite .spritesocial {
    height: 280px;
    width: 320px;
    background: url("img/Defeat.png") center center/cover;
    animation-name: spritesocial; 
    animation-duration: 1.5s;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;
    position: relative;
}

@keyframes spritesocial {
    from { background-position: 0px; }
    to { background-position: -3200px; }
}

footer{
    width: 100%;
    background-color: #5c25a1;
    padding: 10px;
}

footer p{
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
}





















@media only screen and (max-width: 1200px){
    .contenido .tituloBox h2{
        font-size: 3.5em;
    }

    .persona{
        background-color: #ffffff;
        margin: 0px;
        border-radius: 15px;
        width: 250px;
    }

    .sprite1{
        height: 250px;
        width: 250px;
        animation-name: sprite1; 
        animation-duration: 1.5s;
        background: url("img/gaddis.png") center center/cover;
        animation-timing-function: steps(8);
        animation-iteration-count: infinite;
        position: relative;
    }
    
    .sprite2{
        height: 250px;
        width: 250px;
        animation-name: sprite2; 
        animation-duration: 1.5s;
        background: url("img/mascara.png") center center/cover;
        animation-timing-function: steps(6);
        animation-iteration-count: infinite;
        position: relative;
    }
    
    .sprite3{
        height: 250px;
        width: 250px;
        animation-name: sprite3; 
        animation-duration: 1.5s;
        background: url("img/leviatan.png") center center/cover;
        animation-timing-function: steps(14);
        animation-iteration-count: infinite;
        position: relative;
    }
    
    .sprite4{
        height: 250px;
        width: 250px;
        animation-name: sprite4; 
        animation-duration: 1.5s;
        background: url("img/chimera.png") center center/cover;
        animation-timing-function: steps(14);
        animation-iteration-count: infinite;
        position: relative;
    }
    
    .sprite5{
        height: 250px;
        width: 250px;
        animation-name: sprite5; 
        animation-duration: 1.5s;
        background: url("img/agua.png") center center/cover;
        animation-timing-function: steps(8);
        animation-iteration-count: infinite;
        position: relative;
    }
    
    .sprite6{
        height: 250px;
        width: 250px;
        animation-name: sprite6; 
        animation-duration: 1.5s;
        background: url("img/lodo.png") center center/cover;
        animation-timing-function: steps(7);
        animation-iteration-count: infinite;
        position: relative;
    }
    
    .sprite7{
        height: 250px;
        width: 250px;
        animation-name: sprite7; 
        animation-duration: 1.5s;
        background: url("img/espectro.png") center center/cover;
        animation-timing-function: steps(8);
        animation-iteration-count: infinite;
        position: relative;
    }
    
    @keyframes sprite1{
        from { background-position: 0px; }
        to { background-position: -2000px; }
    }
    
    @keyframes sprite2{
        from { background-position: 0px; }
        to { background-position: -1500px; }
    }
    
    @keyframes sprite3{
        from { background-position: 0px; }
        to { background-position: -3500px; }
    }
    
    @keyframes sprite4{
        from { background-position: 0px; }
        to { background-position: -3500px; }
    }
    
    @keyframes sprite5{
        from { background-position: 0px; }
        to { background-position: -2000px; }
    }
    
    @keyframes sprite6{
        from { background-position: 0px; }
        to { background-position: -1750px; }
    }
    
    @keyframes sprite7{
        from { background-position: 0px; }
        to { background-position: -2000px; }
    }
}

@media only screen and (max-width: 992px){
    .head{
        padding: 80px 40px;
    }
    header{
        padding: 40px 40px;
    }
    .contenido .tituloBox h2{
        font-size: 2.5em;
    }

    .contenido .tituloBox a{
        padding: 10px 35px;
    }

    .contenido .imgBox{
        width: 400px;
        padding-right: 20px;
    }

    .contenido .imgBox img{
        width: 400px;
    }

    .redes{
        padding: 0px 40px 30px;
    }

    .circulo{
        clip-path: circle(550px at right 750px);
    }


    .contenido .tituloBox h2{
        font-size: 3.5em;
    }

    .persona{
        background-color: #ffffff;
        margin: 0px;
        border-radius: 15px;
        width: 200px;
    }

    .sprite1{
        height: 200px;
        width: 200px;
        animation-name: sprite1; 
        animation-duration: 1.5s;
        background: url("img/gaddis.png") center center/cover;
        animation-timing-function: steps(8);
        animation-iteration-count: infinite;
        position: relative;
    }
    
    .sprite2{
        height: 200px;
        width: 200px;
        animation-name: sprite2; 
        animation-duration: 1.5s;
        background: url("img/mascara.png") center center/cover;
        animation-timing-function: steps(6);
        animation-iteration-count: infinite;
        position: relative;
    }
    
    .sprite3{
        height: 200px;
        width: 200px;
        animation-name: sprite3; 
        animation-duration: 1.5s;
        background: url("img/leviatan.png") center center/cover;
        animation-timing-function: steps(14);
        animation-iteration-count: infinite;
        position: relative;
    }
    
    .sprite4{
        height: 200px;
        width: 200px;
        animation-name: sprite4; 
        animation-duration: 1.5s;
        background: url("img/chimera.png") center center/cover;
        animation-timing-function: steps(14);
        animation-iteration-count: infinite;
        position: relative;
    }
    
    .sprite5{
        height: 200px;
        width: 200px;
        animation-name: sprite5; 
        animation-duration: 1.5s;
        background: url("img/agua.png") center center/cover;
        animation-timing-function: steps(8);
        animation-iteration-count: infinite;
        position: relative;
    }
    
    .sprite6{
        height: 200px;
        width: 200px;
        animation-name: sprite6; 
        animation-duration: 1.5s;
        background: url("img/lodo.png") center center/cover;
        animation-timing-function: steps(7);
        animation-iteration-count: infinite;
        position: relative;
    }
    
    .sprite7{
        height: 200px;
        width: 200px;
        animation-name: sprite7; 
        animation-duration: 1.5s;
        background: url("img/espectro.png") center center/cover;
        animation-timing-function: steps(8);
        animation-iteration-count: infinite;
        position: relative;
    }
    
    @keyframes sprite1{
        from { background-position: 0px; }
        to { background-position: -1600px; }
    }
    
    @keyframes sprite2{
        from { background-position: 0px; }
        to { background-position: -1200px; }
    }
    
    @keyframes sprite3{
        from { background-position: 0px; }
        to { background-position: -2800px; }
    }
    
    @keyframes sprite4{
        from { background-position: 0px; }
        to { background-position: -2800px; }
    }
    
    @keyframes sprite5{
        from { background-position: 0px; }
        to { background-position: -1600px; }
    }
    
    @keyframes sprite6{
        from { background-position: 0px; }
        to { background-position: -1400px; }
    }
    
    @keyframes sprite7{
        from { background-position: 0px; }
        to { background-position: -1600px; }
    }
}

@media only screen and (max-width: 768px){
    .head{
        padding: 40px;
    }
    header{
        padding: 30px 40px;
    }

    header.scrolled-down {
        padding: 30px 40px; 
    }

    header .navbar{
        display: none;
    }

    header .navbar.active{
        width: 100vw;
        height: calc(100% - 100px);
        position: fixed;
        top: 100px;
        left:0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: rgb(253,67,129);
        z-index: 1;
    }

    header .navbar li{
        list-style: none;
        margin-left: 0px;
    }

    header .navbar li a{
        font-size: 1.2em;
        line-height: 2;
    }

    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url(img/menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .menuToggle.active{
        background: url(img/close.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
    }

    .contenido{
        flex-direction: column;
        gap: 70px;
        margin-top: 70px;
        padding-left: 0;
    }

    .contenido .tituloBox{
        text-align: center;
    }

    .contenido .tituloBox h2{
        font-size: 2em;
    }

    .contenido .tituloBox p{
        font-size: 1.5em;
    }

    .contenido .imgBox{
        width: 450px;
    }

    .contenido .imgBox img{
        width: 400px;
        padding-right: 50px;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .circulo{
        clip-path: circle(400px at center bottom);
    }



    .subcontent{
        padding: 30px 40px 0px;
    }

    .flex{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .persona{
        width: 100%;
        margin-bottom: 30px;
    }
    
    .sprite1{
        height: 320px;
        width: 320px;
        animation-name: sprite1; 
        animation-duration: 1.5s;
        background: url("img/gaddis.png") center center/cover;
        animation-timing-function: steps(8);
        animation-iteration-count: infinite;
        position: relative;
    }
    
    .sprite2{
        height: 320px;
        width: 320px;
        animation-name: sprite2; 
        animation-duration: 1.5s;
        background: url("img/mascara.png") center center/cover;
        animation-timing-function: steps(6);
        animation-iteration-count: infinite;
        position: relative;
    }
    
    .sprite3{
        height: 320px;
        width: 320px;
        animation-name: sprite3; 
        animation-duration: 1.5s;
        background: url("img/leviatan.png") center center/cover;
        animation-timing-function: steps(14);
        animation-iteration-count: infinite;
        position: relative;
    }
    
    .sprite4{
        height: 320px;
        width: 320px;
        animation-name: sprite4; 
        animation-duration: 1.5s;
        background: url("img/chimera.png") center center/cover;
        animation-timing-function: steps(14);
        animation-iteration-count: infinite;
        position: relative;
    }
    
    .sprite5{
        height: 320px;
        width: 320px;
        animation-name: sprite5; 
        animation-duration: 1.5s;
        background: url("img/agua.png") center center/cover;
        animation-timing-function: steps(8);
        animation-iteration-count: infinite;
        position: relative;
    }
    
    .sprite6{
        height: 320px;
        width: 320px;
        animation-name: sprite6; 
        animation-duration: 1.5s;
        background: url("img/lodo.png") center center/cover;
        animation-timing-function: steps(7);
        animation-iteration-count: infinite;
        position: relative;
    }
    
    .sprite7{
        height: 320px;
        width: 320px;
        animation-name: sprite7; 
        animation-duration: 1.5s;
        background: url("img/espectro.png") center center/cover;
        animation-timing-function: steps(8);
        animation-iteration-count: infinite;
        position: relative;
    }
    
    @keyframes sprite1{
        from { background-position: 0px; }
        to { background-position: -2560px; }
    }
    
    @keyframes sprite2{
        from { background-position: 0px; }
        to { background-position: -1920px; }
    }
    
    @keyframes sprite3{
        from { background-position: 0px; }
        to { background-position: -4480px; }
    }
    
    @keyframes sprite4{
        from { background-position: 0px; }
        to { background-position: -4480px; }
    }
    
    @keyframes sprite5{
        from { background-position: 0px; }
        to { background-position: -2560px; }
    }
    
    @keyframes sprite6{
        from { background-position: 0px; }
        to { background-position: -2240px; }
    }
    
    @keyframes sprite7{
        from { background-position: 0px; }
        to { background-position: -2560px; }
    }



    .con-contact{
        flex-direction: column-reverse;
    }

    .con-contact .form,
    .con-contact .mapa{
        width: 100%;
    }

    .con-contact .mapa{
        height: 400px;
    }

    .con-about{
        flex-direction: column;
    }

    
}

@media only screen and (max-width: 450px){
    .head{
        padding: 10px;
    }

    header {
        padding: 10px 10px;
    }

    header.scrolled-down {
        padding: 10px 10px;
    }

    header .navbar.active{
        height: calc(100% - 80px);
        top: 80px;
    }

    header .logo{
        width: 90px;
    }

    .contenido{
        padding-left: 0px;
    }

    .contenido .imgBox{
        width: 350px;
    }

    .contenido .imgBox img{
        width: 100%;
        padding-right: 0px;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .redes{
        right: auto;
        padding: 40px 0 0 0;
    }

    .redes li a{
        font-size: 2em;
    }

    .subcontent{
        padding: 20px;
    }
}